* {
  margin: 0;
  padding: 0;
}

.es_simulator {
  .building {
    width: 80vmin;
    height: 80vmin;

    border: 1px solid red;
    overflow: hidden;
    position: relative;

    .floor {
      border-top: 1px solid blue;
      &:first-child {
        border-top: 0;
      }
      width: 100%;
    }

    .elevator {
      position: absolute;
      bottom: 0;
      &:hover {
        cursor: pointer;
      }
      &.selected {
        border-top: 2px dotted red;
      }
      width: 10%;
      text-align: center;

      img {
        width: 100%;
        padding: 0;
        margin: 0;
      }

      object {
        width: 100%;
      }

      .elev_head {
      }

      .elev_body {
        position: relative;
        top: -5%;
        height: 100%;
        background: url('img/longcatbod.svg');
        background-size: 100%;
      }
    }

    .person {
      -webkit-transition: 0s;
      position: absolute;
      width: 29px;
      background-repeat: no-repeat;
      height: 28px;
      color: white;
      font-size: 90%;
      text-align: center;
      background-size: 100%;

      &.forwards {
        -webkit-transform: scaleX(-1);
      }

      &.state1 {
        background: url('img/cat1.png');
        background-repeat: no-repeat;
      }
      &.state2 {
        background: url('img/cat2.png');
        background-repeat: no-repeat;
      }
    }
  }

  .control {
    height: 20vmin;
    background-color: red;
  }
}