* {
  margin: 0;
  padding: 0; }

.es_simulator .building {
  width: 80vmin;
  height: 80vmin;
  border: 1px solid red;
  overflow: hidden;
  position: relative; }
  .es_simulator .building .floor {
    border-top: 1px solid blue;
    width: 100%; }
    .es_simulator .building .floor:first-child {
      border-top: 0; }
  .es_simulator .building .elevator {
    position: absolute;
    bottom: 0;
    width: 10%;
    text-align: center; }
    .es_simulator .building .elevator:hover {
      cursor: pointer; }
    .es_simulator .building .elevator.selected {
      border-top: 2px dotted red; }
    .es_simulator .building .elevator img {
      width: 100%;
      padding: 0;
      margin: 0; }
    .es_simulator .building .elevator object {
      width: 100%; }
    .es_simulator .building .elevator .elev_body {
      position: relative;
      top: -5%;
      height: 100%;
      background: url("img/longcatbod.svg");
      background-size: 100%; }
  .es_simulator .building .person {
    -webkit-transition: 0s;
    position: absolute;
    width: 29px;
    background-repeat: no-repeat;
    height: 28px;
    color: white;
    font-size: 90%;
    text-align: center;
    background-size: 100%; }
    .es_simulator .building .person.forwards {
      -webkit-transform: scaleX(-1); }
    .es_simulator .building .person.state1 {
      background: url("img/cat1.png");
      background-repeat: no-repeat; }
    .es_simulator .building .person.state2 {
      background: url("img/cat2.png");
      background-repeat: no-repeat; }
.es_simulator .control {
  height: 20vmin;
  background-color: red; }
