<div class="es_simulator">
    <div class="building">
        <div class="floor" ng-style="floorStyle" ng-repeat="floor in floors.slice().reverse()">
            {{floor.id}}
        </div>

        <div class="elevator" ng-click="clicked(elevator)" ng-class="{selected: selectedElevator.id == elevator.id}" ng-style="getElevatorStyle(elevator)" ng-repeat="elevator in elevators">
            <div style="
                width: 100%;
                height: 100%;
                position: absolute;
            "></div>
            <object class="elev_head" preserveAspectRatio="none" type="image/svg+xml" data="img/longcat.svg">derr</object>
            <div class="elev_body"></div>
        </div>

        <div class="person" ng-class="getPersonClass(person)" ng-style="getPersonStyle(person)" ng-repeat="person in people">
        </div>
    </div>

    <div class="control">
        Selected elevator: {{selectedElevator.id}}
        <form ng-submit="controlFloor(form)" ng-init="form.floor=0">
            <input type="number" ng-model="form.floor"/>
            <button type="submit">Go to floor</button>
        </form>
    </div>
</div>