<div class="es_simulator">
    <div class="building">
        <div class="floor" ng-style="floorStyle" ng-repeat="floor in floors.slice().reverse()">
            {{floor.id}}
        </div>

        <div class="elevator" ng-click="clicked(elevator)" ng-class="{selected: selectedElevator.id == elevator.id}" ng-style="getElevatorStyle(elevator)" ng-repeat="elevator in elevators">
            <img src="img/longcat.png" class="elev_head">
            <img src="img/longcatbod.png" class="elev_body" style="width: 100%">
        </div>

        <div class="person" ng-style="getPersonStyle(person)" ng-repeat="person in people">
            {{person.id}}
        </div>
    </div>

    <div class="control">
        Selected elevator: {{selectedElevator.id}}
        <form ng-submit="controlFloor(form)" ng-init="form.floor=0">
            <input type="number" ng-model="form.floor"/>
            <button type="submit">Go to floor</button>
        </form>
    </div>
</div>